{% extends './partials/layout.html' %}

{% block content %}
<h1>About</h1>


<h4>English</h4>
<p> Welcome to the World of Pokemon. And most importantly, welcome to my project. This took a good while to
    set up, so I hope you like it if you pass through here.
</p>


<h4>Español</h4>
<p> Hola, seguidores de mi Telegram y otras redes sociales con las que he compartido esto. Espero que les guste
    lo que he construido aqui. Esto una practica para ver como he avanzado con mis estudios. Si pudieras pasar
    y agregar algunos Pokemon que conozcas, seria genial!!! Tambien puedes publicar un comentario. 
    mantengalo PG, que esto es tarea que estare entregando. Asi que no se pasen X'D
</p>

{% endblock content %}